@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
  font-family: "lato", sans-serif;
}
.allmeetups {
  text-align: center;
}
.allmeetups h1 {
  margin: 1rem 0rem;
}
